{% extends 'base.html.twig' %}

{% block body %}

    <h1>{{ movie.title }}</h1>

    <p>{{ movie.overview }}</p>

    {% if review_form %}
        <h3>Tu valoración</h3>
        {{ form_start(review_form) }}
        {{ form_row(review_form.rating) }}
        {{ form_row(review_form.comment) }}
        <button class="btn btn-primary">Guardar</button>
        {{ form_end(review_form) }}
    {% else %}
        <p>Debes iniciar sesión para valorar esta película.</p>
    {% endif %}

{% endblock %}
